In [29]:
import pandas as pd
import numpy as np
import requests
import time
import json
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Gather

In [3]:
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [4]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [5]:
# Download the image predictions tweet using request.get method
response = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv', auth=('user', 'pass'))

In [6]:
# write content of response in image-predictions.tsv
with open('image_predictions.tsv', mode = 'wb') as file:
    file.write(response.content)

# load image_predictions.tsv into a dataframe    
image_df = pd.read_csv('image_predictions.tsv', sep='\t')

In [7]:
image_df.head(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [55]:
import tweepy
from tweepy import OAuthHandler
from timeit import default_timer as timer

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'HIDDEN'
consumer_secret = 'HIDDEN'
access_token = 'HIDDEN'
access_secret = 'HIDDEN'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = twitter_archive.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

1: 892420643555336193

AttributeError: module 'tweepy' has no attribute 'TweepError'

In [8]:
# read the gathered tweets in tweet_json.txt line by line into a file
tweet_json = []

with open('tweet_json.txt') as json_file:
    for line in json_file:
        tweet_content = json.loads(line)
        
        tweet_json.append({'tweet_id': tweet_content['id'], 
                      'retweet_count': tweet_content['retweet_count'], 
                      'favorite_count': tweet_content['favorite_count'],
                      'tweet_created': tweet_content['created_at']})
        
    
# store read content into a dataframe
tweet_df = pd.DataFrame(tweet_json)

In [9]:
tweet_df.head()

,tweet_id,retweet_count,favorite_count,tweet_created
0,892420643555336193,8853,39467,Tue Aug 01 16:23:56 +0000 2017
1,892177421306343426,6514,33819,Tue Aug 01 00:17:27 +0000 2017
2,891815181378084864,4328,25461,Mon Jul 31 00:18:03 +0000 2017
3,891689557279858688,8964,42908,Sun Jul 30 15:58:51 +0000 2017
4,891327558926688256,9774,41048,Sat Jul 29 16:00:24 +0000 2017

In [10]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
 3   tweet_created   2354 non-null   object
dtypes: int64(3), object(1)
memory usage: 73.7+ KB

## Assess

In [11]:
twitter_archive.sample(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
618,796177847564038144,NaN,NaN,2016-11-09 02:29:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Ruby. She just turned o...,7.961497e+17,4.196984e+09,2016-11-09 00:37:46 +0000,https://twitter.com/dog_rates/status/796149749...,11,10,Ruby,None,None,None,None
1721,680130881361686529,NaN,NaN,2015-12-24 21:00:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Reggie. His Santa hat is a little big....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/680130881...,10,10,Reggie,None,None,None,None
63,879862464715927552,NaN,NaN,2017-06-28 00:42:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Romeo. He would like to do an entrance...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/879862464...,13,10,Romeo,None,None,None,None
1477,693622659251335168,NaN,NaN,2016-01-31 02:31:43 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you keepin the popcorn bucket in your lap...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/693622659...,10,10,None,None,None,None,None
2243,667902449697558528,NaN,NaN,2015-11-21 03:08:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cleopatricia. She is a northern Paperb...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667902449...,9,10,Cleopatricia,None,None,None,None
323,834089966724603904,NaN,NaN,2017-02-21 17:18:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",DOGGO ON THE LOOSE I REPEAT DOGGO ON THE LOOSE...,NaN,NaN,NaN,https://twitter.com/stevekopack/status/8340866...,10,10,None,doggo,None,None,None
1269,709519240576036864,NaN,NaN,2016-03-14 23:19:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Vince. He's a Gregorian Flapjeck. Whit...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/709519240...,9,10,Vince,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
873,761334018830917632,NaN,NaN,2016-08-04 22:52:29 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruce. I really want to hear the joke ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/761334018...,10,10,Bruce,None,None,None,None
1449,696100768806522880,NaN,NaN,2016-02-06 22:38:50 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",This poor pupper has been stuck in a vortex si...,NaN,NaN,NaN,https://vine.co/v/i1KWj0vbvA9,10,10,None,None,None,pupper,None
189,855860136149123072,8.558585e+17,13615722.0,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
1455,695409464418041856,NaN,NaN,2016-02-05 00:51:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bob. He just got back from his job int...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/695409464...,10,10,Bob,None,None,None,None
1314,706901761596989440,NaN,NaN,2016-03-07 17:58:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Elliot. He's blocking the roadway. Dow...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/706901761...,3,10,Elliot,None,None,None,None
2194,668892474547511297,NaN,NaN,2015-11-23 20:42:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ruffles. He is an Albanian Shoop Da Wh...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/668892474...,11,10,Ruffles,None,None,None,None
211,851953902622658560,NaN,NaN,2017-04-12 00:23:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Astrid. She's a guide d...,8.293743e+17,4.196984e+09,2017-02-08 17:00:26 +0000,https://twitter.com/dog_rates/status/829374341...,13,10,Astrid,doggo,None,None,None
960,751205363882532864,NaN,NaN,2016-07-08 00:04:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""This photographer took pics of her best frien...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/751205363...,12,10,None,None,None,None,None
249,845306882940190720,NaN,NaN,2017-03-24 16:10:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pickles. She's a silly pupper. Thinks ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/845306882...,12,10,Pickles,None,None,pupper,None
2312,666776908487630848,NaN,NaN,2015-11-18 00:36:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Josep. He is a Rye Manganese mix. Can ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666776908...,5,10,Josep,None,None,None,None
935,753398408988139520,NaN,NaN,2016-07-14 01:19:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Scout. Her batteries are low. 12/10 pr...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/753398408...,12,10,Scout,None,None,None,None
1232,713175907180089344,NaN,NaN,2016-03-25 01:29:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Opie and Clarkus. Clarkus fell as...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713175907...,10,10,Opie,None,None,None,None

In [12]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [13]:
twitter_archive.name.value_counts()

None       745
a           55
Charlie     12
Lucy        11
Cooper      11
          ...
Rumble       1
Kollin       1
Sora         1
Lacy         1
Geno         1
Name: name, Length: 957, dtype: int64

In [14]:
image_df.sample(20)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
571,678399652199309312,https://pbs.twimg.com/ext_tw_video_thumb/67839...,1,swing,0.929196,False,Bedlington_terrier,0.015047,True,Great_Pyrenees,0.014039,True
1323,756651752796094464,https://pbs.twimg.com/media/CoAqwPTW8AAiJlz.jpg,1,Pembroke,0.294808,True,kelpie,0.282301,True,Cardigan,0.112601,True
641,681320187870711809,https://pbs.twimg.com/media/CXSJGAQUQAAoG9Q.jpg,1,Samoyed,0.362596,True,Eskimo_dog,0.245395,True,Siberian_husky,0.108232,True
1217,743595368194129920,https://pbs.twimg.com/media/ClHICHmXEAI_1PS.jpg,1,hippopotamus,0.505675,False,hog,0.370726,False,warthog,0.018827,False
1956,864873206498414592,https://pbs.twimg.com/media/DAClmHkXcAA1kSv.jpg,2,pole,0.478616,False,lakeside,0.114182,False,wreck,0.055926,False
1989,872967104147763200,https://pbs.twimg.com/media/DB1m871XUAAw5vZ.jpg,2,Labrador_retriever,0.476913,True,Chesapeake_Bay_retriever,0.174145,True,German_short-haired_pointer,0.092861,True
1292,751583847268179968,https://pbs.twimg.com/media/Cm4phTpWcAAgLsr.jpg,1,dalmatian,0.868304,True,studio_couch,0.059623,False,snow_leopard,0.013876,False
185,669359674819481600,https://pbs.twimg.com/media/CUoLEG3XAAE65I0.jpg,1,Labrador_retriever,0.367818,True,German_short-haired_pointer,0.280642,True,Chesapeake_Bay_retriever,0.184246,True
664,682697186228989953,https://pbs.twimg.com/media/CXltdtaWYAIuX_V.jpg,1,bald_eagle,0.097232,False,torch,0.096621,False,cliff,0.090385,False
1705,817423860136083457,https://pbs.twimg.com/ext_tw_video_thumb/81742...,1,ice_bear,0.336200,False,Samoyed,0.201358,True,Eskimo_dog,0.186789,True
1331,757611664640446465,https://pbs.twimg.com/media/CoOTyXJXEAAtjs9.jpg,1,bluetick,0.829259,True,beagle,0.145358,True,Walker_hound,0.019595,True
1017,709918798883774466,https://pbs.twimg.com/media/CdojYQmW8AApv4h.jpg,2,Pembroke,0.956222,True,Cardigan,0.020727,True,Chihuahua,0.007912,True
124,668237644992782336,https://pbs.twimg.com/media/CUYOl0kW4AAVe_p.jpg,1,chow,0.809320,True,minivan,0.071311,False,Pekinese,0.037870,True
1934,859851578198683649,https://pbs.twimg.com/media/C-7OcfyXsAAsqzU.jpg,4,Labrador_retriever,0.899086,True,golden_retriever,0.047091,True,kuvasz,0.023206,True
327,671896809300709376,https://pbs.twimg.com/media/CVMOlMiWwAA4Yxl.jpg,1,chow,0.243529,True,hamster,0.227150,False,Pomeranian,0.056057,True
1293,751598357617971201,https://pbs.twimg.com/media/Cm42t5vXEAAv4CS.jpg,1,toy_poodle,0.757756,True,miniature_poodle,0.035150,True,Scottish_deerhound,0.027698,True
909,700518061187723268,https://pbs.twimg.com/media/Cbi9dI_UYAAgkyC.jpg,1,American_Staffordshire_terrier,0.569501,True,Staffordshire_bullterrier,0.211308,True,Chihuahua,0.121839,True
776,689661964914655233,https://pbs.twimg.com/media/CZIr5gFUsAAvnif.jpg,1,Italian_greyhound,0.322818,True,whippet,0.246966,True,Chihuahua,0.122541,True
174,669015743032369152,https://pbs.twimg.com/media/CUjSRNCXAAQ6Y_8.jpg,1,comic_book,0.275927,False,bib,0.173516,False,jersey,0.073911,False
1751,824297048279236611,https://pbs.twimg.com/media/C3B9ypNWEAM1bVs.jpg,2,teddy,0.588230,False,jigsaw_puzzle,0.028910,False,doormat,0.022251,False

In [15]:
image_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [16]:
tweet_df.sample(10)

,tweet_id,retweet_count,favorite_count,tweet_created
904,758041019896193024,433,3001,Tue Jul 26 20:47:17 +0000 2016
1825,676430933382295552,385,1526,Mon Dec 14 15:57:56 +0000 2015
1524,690374419777196032,972,3560,Fri Jan 22 03:24:22 +0000 2016
958,751205363882532864,2086,6948,Fri Jul 08 00:04:50 +0000 2016
619,796125600683540480,2079,5511,Tue Nov 08 23:01:49 +0000 2016
658,791406955684368384,4797,14670,Wed Oct 26 22:31:36 +0000 2016
1289,708119489313951744,1102,2937,Fri Mar 11 02:36:57 +0000 2016
2065,671141549288370177,713,1246,Mon Nov 30 01:39:49 +0000 2015
1781,677673981332312066,1677,3603,Fri Dec 18 02:17:22 +0000 2015
1561,688179443353796608,669,2328,Sat Jan 16 02:02:19 +0000 2016

In [17]:
tweet_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
 3   tweet_created   2354 non-null   object
dtypes: int64(3), object(1)
memory usage: 73.7+ KB

### Quality
#### Twitter archive table
 1. Erroneous datatype(in_reply_to_user_id, in_reply_to_status_id, timestamp, rating_numerator, rating_denominator).
 2. Retain original ratings(no retweet) that have images.
 3. Misnomer in dog name(a, all, an, my, very).
 4. Remove columns not needed for analysis. 
 5. Some rating_numerator and rating_denominator values are invalid
 
#### Image prediction table
 6. Some records has no image.
 7. Some images of dog are overlapped by objects.
 8. Multi name dog breed are separated with an underscore instead of spaces.
 9. Non-uniform case in p names(some names begin with upper case others in lower case). 
 
#### Tweets table
 10. Erroneous datatype(tweet_created).

### Tidiness
 1. Four variables in Four columns(doggo, floofer, pupper, puppo)
 2. Tweet and image predictions tables should be merge with twitter archive table

## Clean

In [19]:
# copy the dataframes to preserve their original contents
twitter_archive_clean = twitter_archive.copy()
image_clean = image_df.copy()
tweet_clean = tweet_df.copy()

### Q1. Erroneous datatype(timestamp, tweet_created)
#### *Define*
*Convert erroneous datatype in twitter_archive_clean dataframe and tweet_clean dataframe*

#### *Code*

In [20]:
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean['timestamp'])
tweet_clean['tweet_created'] = pd.to_datetime(tweet_clean['tweet_created'])

#### *Test*

In [21]:
twitter_archive_clean.dtypes

tweet_id                                    int64
in_reply_to_status_id                     float64
in_reply_to_user_id                       float64
timestamp                     datetime64[ns, UTC]
source                                     object
text                                       object
retweeted_status_id                       float64
retweeted_status_user_id                  float64
retweeted_status_timestamp                 object
expanded_urls                              object
rating_numerator                            int64
rating_denominator                          int64
name                                       object
doggo                                      object
floofer                                    object
pupper                                     object
puppo                                      object
dtype: object

In [22]:
tweet_clean.dtypes

tweet_id                        int64
retweet_count                   int64
favorite_count                  int64
tweet_created     datetime64[ns, UTC]
dtype: object

### *Tidiness Issues*
#### T1. Four variables in Four columns(doggo, floofer, pupper, puppo)
#### *Define*
*Combine doggo, floofer, pupper and puppo columns into one column name dog_stage by extracting the dog stages from the text column. Also eliminate the error in giving a dog multiple dog stages(e.g floofer and pupper)*

#### *Code*

In [23]:
twitter_archive_clean['dog_stage'] = twitter_archive_clean['text'].str.extract('(doggo|floofer|pupper|puppo)')
# replace the NaN values in dog stage column with None value
twitter_archive_clean['dog_stage'] = twitter_archive_clean.dog_stage.replace({np.nan:None})

# drop the four columns that has headers for the dog stages
twitter_archive_clean = twitter_archive_clean.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis=1)

#### *Test*

In [24]:
twitter_archive_clean.sample(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
2125,670361874861563904,NaN,NaN,2015-11-27 22:01:40+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a Rich Mahogany Seltzer named Cherokee...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670361874...,9,10,a,None
1494,692568918515392513,NaN,NaN,2016-01-28 04:44:32+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Chester. He's been guarding this pumpk...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692568918...,12,10,Chester,None
1205,715928423106027520,NaN,NaN,2016-04-01 15:46:52+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Bubbles. He's a Yorkshire Piccolope. 1...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/715928423...,11,10,Bubbles,None
517,810896069567610880,NaN,NaN,2016-12-19 17:14:23+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Hunter. He just found out he needs bra...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/810896069...,11,10,Hunter,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31+00:00,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,NaN,NaN,NaN,NaN,13,10,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None
2315,666691418707132416,NaN,NaN,2015-11-17 18:56:35+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Christoper. He is a spotted Penne. Can...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666691418...,8,10,Christoper,None
398,825026590719483904,NaN,NaN,2017-01-27 17:04:02+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Pablo. He's one gorgeous puppo. A...,NaN,NaN,NaN,https://www.gofundme.com/my-puppys-double-cata...,12,10,Pablo,puppo
757,778624900596654080,NaN,NaN,2016-09-21 16:00:17+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Penny. She's a sailor pup. 11/10 would...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778624900...,11,10,Penny,None
1437,697242256848379904,NaN,NaN,2016-02-10 02:14:42+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Oakley. He has a massive tumor growing...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697242256...,10,10,Oakley,None
1709,680609293079592961,NaN,NaN,2015-12-26 04:41:15+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Brody. That is his chair. He loves his...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/680609293...,9,10,Brody,None
1368,702539513671897089,NaN,NaN,2016-02-24 17:04:07+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a Wild Tuscan Poofwiggle. Careful not ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/702539513...,12,10,a,None
72,878604707211726852,NaN,NaN,2017-06-24 13:24:20+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Martha is stunning how h*ckin dare you. 13/10 ...,NaN,NaN,NaN,https://twitter.com/bbcworld/status/8785998685...,13,10,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44+00:00,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,None,pupper
1707,680801747103793152,NaN,NaN,2015-12-26 17:25:59+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Great picture here. Dog on the right panicked ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/680801747...,10,10,None,None
1252,710844581445812225,NaN,NaN,2016-03-18 15:05:29+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Staniel. His selfie game is strong af....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710844581...,10,10,Staniel,None
1838,675898130735476737,NaN,NaN,2015-12-13 04:40:46+00:00,"<a href=""http://twitter.com/download/iphone"" r...",I'm sure you've all seen this pupper. Not prep...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675898130...,10,10,None,pupper
1057,742150209887731712,NaN,NaN,2016-06-13 00:22:53+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Edmund. He sends stellar selfies. Cute...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/742150209...,8,10,Edmund,pupper
1451,695794761660297217,NaN,NaN,2016-02-06 02:22:53+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Wyatt. His throne is modeled after him...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/695794761...,13,10,Wyatt,None
1084,738402415918125056,NaN,NaN,2016-06-02 16:10:29+00:00,"<a href=""http://twitter.com/download/iphone"" r...","""Don't talk to me or my son ever again"" ...10/...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/738402415...,10,10,None,None

In [25]:
twitter_archive_clean.dog_stage.value_counts()

pupper     265
doggo       93
puppo       37
floofer      4
Name: dog_stage, dtype: int64

#### T2. Tweet and image predictions tables should be merge with twitter archive table
#### *Define*
*Merge the tweet and image prediction tables to the twitter archive table*

#### *Code*

In [26]:
# Merge twitter archive column with the image predictions column
twitter_archive_clean = pd.merge(twitter_archive_clean, image_clean, on='tweet_id', how='inner')

# Merge the result of the above to the tweet column
twitter_archive_clean = pd.merge(twitter_archive_clean, tweet_clean, on='tweet_id', how='inner')

#### *Test*

In [27]:
twitter_archive_clean.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,...,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,tweet_created
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,...,False,bagel,0.085851,False,banana,0.07611,False,8853,39467,2017-08-01 16:23:56+00:00

In [28]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2073 entries, 0 to 2072
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2073 non-null   int64
 1   in_reply_to_status_id       23 non-null     float64
 2   in_reply_to_user_id         23 non-null     float64
 3   timestamp                   2073 non-null   datetime64[ns, UTC]
 4   source                      2073 non-null   object
 5   text                        2073 non-null   object
 6   retweeted_status_id         79 non-null     float64
 7   retweeted_status_user_id    79 non-null     float64
 8   retweeted_status_timestamp  79 non-null     object
 9   expanded_urls               2073 non-null   object
 10  rating_numerator            2073 non-null   int64
 11  rating_denominator          2073 non-null   int64
 12  name                        2073 non-null   object
 13  dog_stage                   337 non-null    object
 14  jpg_url                     2073 non-null   object
 15  img_num                     2073 non-null   int64
 16  p1                          2073 non-null   object
 17  p1_conf                     2073 non-null   float64
 18  p1_dog                      2073 non-null   bool
 19  p2                          2073 non-null   object
 20  p2_conf                     2073 non-null   float64
 21  p2_dog                      2073 non-null   bool
 22  p3                          2073 non-null   object
 23  p3_conf                     2073 non-null   float64
 24  p3_dog                      2073 non-null   bool
 25  retweet_count               2073 non-null   int64
 26  favorite_count              2073 non-null   int64
 27  tweet_created               2073 non-null   datetime64[ns, UTC]
dtypes: bool(3), datetime64[ns, UTC](2), float64(7), int64(6), object(10)
memory usage: 427.2+ KB

#### Q2. Retain original ratings(no retweet) that have images.
#### *Define*
*Keep original ratings(no retweet) that have images by filtering out retweets with images*

#### *Code*

In [235]:
twitter_archive_clean = twitter_archive_clean[pd.isnull(twitter_archive_clean['retweeted_status_user_id'])]

#### *Test*

In [236]:
twitter_archive_clean.retweeted_status_user_id.value_counts().sum()

0

#### Q3. Misnomer in dog name(a, all, an, my, very)
#### *Define*
*Misnomer in dog names(e.g a, an, my, all, very, actually). Replace the errors in dog names with None*

#### *Code*

In [237]:
twitter_archive_clean.name.unique()

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', 'None', 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver',
       'Jim', 'Zeke', 'Ralphus', 'Gerald', 'Jeffrey', 'such', 'Canela',
       'Maya', 'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey',
       'Earl', 'Lola', 'Kevin', 'Yogi', 'Noah', 'Bella', 'Grizzwald',
       'Rusty', 'Gus', 'Stanley', 'Alfy', 'Koko', 'Rey', 'Gary', 'a',
       'Elliot', 'Louis', 'Jesse', 'Romeo', 'Bailey', 'Duddles', 'Jack',
       'Steven', 'Beau', 'Snoopy', 'Shadow', 'Emmy', 'Aja', 'Penny',
       'Dante', 'Nelly', 'Ginger', 'Benedict', 'Venti', 'Goose', 'Nugget',
       'Cash', 'Jed', 'Sebastian', 'Sierra', 'Monkey', 'Harry', 'Kody',
       'Lassie', 'Rover', 'Napolean', 'Boomer', 'Cody', 'Rumble',
       'Clifford', 'Dewey', 'Scout', 'Gizmo', 'Walter', 'Cooper',
       'Harold', 'Shikha', 'Lili', 'Jamesy', 'Coco', 'Sammy', 'Meatball',
       'Paisley', 'Albus', 'Neptune', 'Belle', 'Quinn', 'Zooey', 'Dave',
       'Jersey', 'Hobbes', 'Burt', 'Lorenzo', 'Carl', 'Jordy', 'Milky',
       'Trooper', 'quite', 'Sophie', 'Wyatt', 'Rosie', 'Thor', 'Oscar',
       'Callie', 'Cermet', 'Marlee', 'Arya', 'Einstein', 'Alice',
       'Rumpole', 'Benny', 'Aspen', 'Jarod', 'Wiggles', 'General',
       'Sailor', 'Iggy', 'Snoop', 'Kyle', 'Leo', 'Riley', 'Noosh', 'Odin',
       'Jerry', 'Georgie', 'Rontu', 'Cannon', 'Furzey', 'Daisy', 'Tuck',
       'Barney', 'Vixen', 'Jarvis', 'Mimosa', 'Pickles', 'Brady', 'Luna',
       'Charlie', 'Margo', 'Sadie', 'Hank', 'Tycho', 'Indie', 'Winnie',
       'George', 'Bentley', 'Max', 'Dawn', 'Maddie', 'Monty', 'Sojourner',
       'Winston', 'Odie', 'Arlo', 'Vincent', 'Lucy', 'Clark', 'Mookie',
       'Meera', 'Ava', 'Eli', 'Ash', 'Tucker', 'Tobi', 'Chester',
       'Wilson', 'Sunshine', 'Lipton', 'Bronte', 'Poppy', 'Gidget',
       'Rhino', 'Willow', 'Orion', 'Eevee', 'Smiley', 'Miguel', 'Emanuel',
       'Kuyu', 'Dutch', 'Pete', 'Scooter', 'Reggie', 'Lilly', 'Samson',
       'Mia', 'Astrid', 'Malcolm', 'Dexter', 'Alfie', 'Fiona', 'one',
       'Mutt', 'Bear', 'Doobert', 'Beebop', 'Alexander', 'Sailer',
       'Brutus', 'Kona', 'Boots', 'Ralphie', 'Loki', 'Cupid', 'Pawnd',
       'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet', 'Pablo', 'Nala', 'Crawford',
       'Gabe', 'Jimison', 'Duchess', 'Harlso', 'Sundance', 'Luca',
       'Flash', 'Sunny', 'Howie', 'Jazzy', 'Anna', 'Finn', 'Bo', 'Wafer',
       'Tom', 'Florence', 'Autumn', 'Buddy', 'Dido', 'Eugene', 'Ken',
       'Strudel', 'Tebow', 'Chloe', 'Timber', 'Binky', 'Moose', 'Dudley',
       'Comet', 'Akumi', 'Titan', 'Olivia', 'Alf', 'Oshie', 'Chubbs',
       'Sky', 'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron', 'Tyr',
       'Bauer', 'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo', 'Augie',
       'Craig', 'Sam', 'Hunter', 'Pavlov', 'Phil', 'Kyro', 'Wallace',
       'Ito', 'Ollie', 'Stephan', 'Lennon', 'incredibly', 'Major', 'Duke',
       'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny', 'Marley',
       'Severus', 'Ronnie', 'Milo', 'Bones', 'Mauve', 'Chef', 'Doc',
       'Peaches', 'Sobe', 'Longfellow', 'Mister', 'Iroh', 'Pancake',
       'Snicku', 'Ruby', 'Brody', 'Mack', 'Nimbus', 'Laika', 'Maximus',
       'Dobby', 'Moreton', 'Juno', 'Maude', 'Lily', 'Newt', 'Benji',
       'Nida', 'Robin', 'Monster', 'BeBe', 'Remus', 'Levi', 'Mabel',
       'Misty', 'Betty', 'Mosby', 'Maggie', 'Bruce', 'Happy', 'Brownie',
       'Rizzy', 'Stella', 'Butter', 'Frank', 'Tonks', 'Lincoln', 'Rory',
       'Logan', 'Dale', 'Rizzo', 'Mattie', 'Pinot', 'Dallas', 'Hero',
       'Frankie', 'Stormy', 'Mairi', 'Loomis', 'Godi', 'Cali', 'Deacon',
       'Timmy', 'Sampson', 'Chipson', 'Oakley', 'Dash', 'Hercules', 'Jay',
       'Mya', 'Strider', 'Wesley', 'Solomon', 'Huck', 'O', 'Blue',
       'Anakin', 'Finley', 'Sprinkles', 'Heinrich', 'Shakespeare',
       'Chelsea', 'Bungalo', 'Chip', 'Grey', 'Roosevelt', 'Willem',
       'Davey', 'Dakota', 'Fizz', 'Dixie', 'very', 'Al', 'Jackson',
       'Carbon', 'Klein', 'DonDon', 'Kirby', 'Lou', 'Chevy', 'Tito',
       'Philbert', 'Louie', 'Rupert', 'Rufus', 'Brudge', 'Shadoe',
       'Angel', 'Brat', 'Tove', 'my', 'Gromit', 'Aubie', 'Kota', 'Leela',
       'Glenn', 'Shelby', 'Sephie', 'Bonaparte', 'Albert', 'Wishes',
       'Rose', 'Theo', 'Rocco', 'Fido', 'Emma', 'Spencer', 'Lilli',
       'Boston', 'Brandonald', 'Corey', 'Leonard', 'Beckham', 'Devón',
       'Gert', 'Watson', 'Keith', 'Dex', 'Ace', 'Tayzie', 'Grizzie',
       'Gilbert', 'Meyer', 'Arnie', 'Zoe', 'Stewie', 'Calvin', 'Lilah',
       'Spanky', 'Jameson', 'Piper', 'Atticus', 'Blu', 'Dietrich', 'not',
       'Divine', 'Tripp', 'his', 'Cora', 'Huxley', 'Bookstore', 'Abby',
       'Shiloh', 'an', 'Gustav', 'Arlen', 'Percy', 'Lenox', 'Sugar',
       'Harvey', 'Blanket', 'Geno', 'Stark', 'Beya', 'Kilo', 'Kayla',
       'Maxaroni', 'Bell', 'Doug', 'Edmund', 'Aqua', 'Theodore', 'just',
       'Baloo', 'Chase', 'getting', 'Nollie', 'Rorie', 'Simba', 'Charles',
       'Bayley', 'Axel', 'Storkson', 'Remy', 'Chadrick', 'Kellogg',
       'Buckley', 'Livvie', 'Terry', 'Hermione', 'Ralpher', 'Aldrick',
       'Larry', 'this', 'unacceptable', 'Rooney', 'Crystal', 'Ziva',
       'Stefan', 'Pupcasso', 'Puff', 'Flurpson', 'Coleman', 'Enchilada',
       'Raymond', 'all', 'Rueben', 'Cilantro', 'Karll', 'Sprout', 'Blitz',
       'Bloop', 'Colby', 'Lillie', 'Fred', 'Ashleigh', 'Kreggory',
       'Sarge', 'Luther', 'Reginald', 'Ivar', 'Jangle', 'Schnitzel',
       'Panda', 'Berkeley', 'Ralphé', 'Charleson', 'Clyde', 'Harnold',
       'Sid', 'Pippa', 'Otis', 'Carper', 'Bowie', 'Alexanderson', 'Suki',
       'Barclay', 'Ebby', 'Flávio', 'Smokey', 'Link', 'Jennifur',
       'Bluebert', 'Stephanus', 'Bubbles', 'Zeus', 'Bertson', 'Nico',
       'Michelangelope', 'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas',
       'Kanu', 'Lance', 'Opie', 'Stubert', 'Kane', 'Olive', 'Chuckles',
       'Staniel', 'Sora', 'Beemo', 'Gunner', 'infuriating', 'Lacy',
       'Tater', 'Olaf', 'Cecil', 'Vince', 'Karma', 'Billy', 'Walker',
       'Rodney', 'Klevin', 'Malikai', 'Bobble', 'River', 'Jebberson',
       'Remington', 'Farfle', 'Jiminus', 'Harper', 'Keurig', 'Clarkus',
       'Finnegus', 'Cupcake', 'Kathmandu', 'Ellie', 'Katie', 'Kara',
       'Adele', 'Zara', 'Ambrose', 'Jimothy', 'Bode', 'Terrenth', 'Reese',
       'Chesterson', 'Lucia', 'Bisquick', 'Ralphson', 'Socks', 'Rambo',
       'Fiji', 'Rilo', 'Bilbo', 'Coopson', 'Yoda', 'Millie', 'Chet',
       'Crouton', 'Daniel', 'Kaia', 'Murphy', 'Dotsy', 'Eazy', 'Coops',
       'Fillup', 'Miley', 'Charl', 'Reagan', 'CeCe', 'Cuddles', 'Claude',
       'Jessiga', 'Carter', 'Ole', 'Blipson', 'Reptar', 'Trevith', 'Berb',
       'Bob', 'Colin', 'Brian', 'Oliviér', 'Grady', 'Kobe', 'Freddery',
       'Bodie', 'Dunkin', 'Wally', 'Tupawc', 'Amber', 'Herschel', 'Edgar',
       'Kingsley', 'Brockly', 'Richie', 'Molly', 'Vinscent', 'Cedrick',
       'Hazel', 'Lolo', 'Eriq', 'Phred', 'the', 'Maxwell', 'Geoff',
       'Covach', 'Durg', 'Fynn', 'Ricky', 'Herald', 'Lucky', 'Trip',
       'Clarence', 'Hamrick', 'Brad', 'Pubert', 'Frönq', 'Derby',
       'Lizzie', 'Blakely', 'Opal', 'Marq', 'Kramer', 'Tyrone', 'Gordon',
       'Baxter', 'Mona', 'Horace', 'Crimson', 'Birf', 'Hammond',
       'Lorelei', 'Marty', 'Brooks', 'Petrick', 'Hubertson', 'Gerbald',
       'Oreo', 'Bruiser', 'Perry', 'Bobby', 'Jeph', 'Obi', 'Tino',
       'Kulet', 'Lupe', 'Tiger', 'Jiminy', 'Griffin', 'Banjo', 'Brandy',
       'Lulu', 'Darrel', 'Taco', 'Joey', 'Patrick', 'Kreg', 'Todo',
       'Tess', 'Ulysses', 'Toffee', 'Apollo', 'Carly', 'Asher', 'Glacier',
       'Chuck', 'actually', 'Champ', 'Ozzie', 'Griswold', 'Cheesy',
       'Moofasa', 'Hector', 'Goliath', 'Kawhi', 'Ozzy', 'by', 'Emmie',
       'Penelope', 'Willie', 'Rinna', 'Mike', 'William', 'Dwight', 'Evy',
       'Hurley', 'Rubio', 'officially', 'Chompsky', 'Linda', 'Tug',
       'Tango', 'Grizz', 'Jerome', 'Crumpet', 'Jessifer', 'Ralph',
       'Sandy', 'Humphrey', 'Tassy', 'Juckson', 'Chuq', 'Tyrus', 'Karl',
       'Godzilla', 'Vinnie', 'Kenneth', 'Herm', 'Bert', 'Striker',
       'Donny', 'Pepper', 'Bernie', 'Buddah', 'Lenny', 'Arnold', 'Zuzu',
       'Mollie', 'Laela', 'Tedders', 'Superpup', 'Rufio', 'Jeb', 'Rodman',
       'Jonah', 'Chesney', 'Kenny', 'Henry', 'Bobbay', 'Mitch', 'Kaiya',
       'Acro', 'Aiden', 'Obie', 'Dot', 'Shnuggles', 'Kendall', 'Jeffri',
       'Steve', 'Eve', 'Mac', 'Fletcher', 'Kenzie', 'Pumpkin', 'Schnozz',
       'Gustaf', 'Cheryl', 'Ed', 'Leonidas', 'Norman', 'Caryl', 'Scott',
       'Taz', 'Darby', 'Jackie', 'light', 'Jazz', 'Franq', 'Pippin',
       'Rolf', 'Snickers', 'Ridley', 'Cal', 'Bradley', 'Bubba', 'Tuco',
       'Patch', 'Mojo', 'Batdog', 'Dylan', 'space', 'Mark', 'JD',
       'Alejandro', 'Scruffers', 'Pip', 'Julius', 'Tanner', 'Sparky',
       'Anthony', 'Holly', 'Jett', 'Amy', 'Sage', 'Andy', 'Mason',
       'Trigger', 'Antony', 'Creg', 'Traviss', 'Gin', 'Jeffrie', 'Danny',
       'Ester', 'Pluto', 'Bloo', 'Edd', 'Paull', 'Willy', 'Herb', 'Damon',
       'Peanut', 'Nigel', 'Butters', 'Sandra', 'Fabio', 'Randall', 'Liam',
       'Tommy', 'Ben', 'Raphael', 'Julio', 'Andru', 'Kloey', 'Shawwn',
       'Skye', 'Kollin', 'Ronduh', 'Billl', 'Saydee', 'Dug', 'Tessa',
       'Sully', 'Kirk', 'Ralf', 'Clarq', 'Jaspers', 'Samsom', 'Terrance',
       'Harrison', 'Chaz', 'Jeremy', 'Jaycob', 'Lambeau', 'Ruffles',
       'Amélie', 'Bobb', 'Banditt', 'Kevon', 'Winifred', 'Hanz',
       'Churlie', 'Zeek', 'Timofy', 'Maks', 'Jomathan', 'Kallie',
       'Marvin', 'Spark', 'Gòrdón', 'Jo', 'DayZ', 'Jareld', 'Torque',
       'Ron', 'Skittles', 'Cleopatricia', 'Erik', 'Stu', 'Tedrick',
       'Shaggy', 'Filup', 'Kial', 'Naphaniel', 'Dook', 'Hall', 'Philippe',
       'Biden', 'Fwed', 'Genevieve', 'Joshwa', 'Timison', 'Bradlay',
       'Pipsy', 'Clybe', 'Keet', 'Carll', 'Jockson', 'Josep', 'Lugan',
       'Christoper'], dtype=object)

In [238]:
twitter_archive_clean[twitter_archive_clean.name == 'a'] = 'None'
twitter_archive_clean[twitter_archive_clean.name == 'an'] = 'None'
twitter_archive_clean[twitter_archive_clean.name == 'all'] = 'None'
twitter_archive_clean[twitter_archive_clean.name == 'very'] = 'None'
twitter_archive_clean[twitter_archive_clean.name == 'my'] = 'None'
twitter_archive_clean[twitter_archive_clean.name == 'actually'] = 'None'

#### *Test*

In [239]:
twitter_archive_clean.name

0        Phineas
1          Tilly
2         Archie
3          Darla
4       Franklin
          ...
2068        None
2069        None
2070        None
2071        None
2072        None
Name: name, Length: 1994, dtype: object

In [240]:
test_value = ['a', 'an', 'my', 'all', 'very', 'actually']

test_result = twitter_archive_clean.name.isin(test_value)

if test_result.any():
    print('A dog name is in test_value')
else:
    print('No dog name is in test_value')

No dog name is in test_value

#### Q4. Remove columns not needed for analysis.
#### *Define*
*Drop columns() not needed for analysis in twitter_archive_clean table()*

#### *Code*

In [241]:
twitter_archive_clean = twitter_archive_clean.drop(['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id','retweeted_status_user_id', 'retweeted_status_timestamp', 'expanded_urls'], axis = 1)

#### *Test*

#### Q5. Some rating_numerator and rating_denominator have invalid values
#### *Define*
*Extract the correct ratings from the text and separate the numerators and denominators into respective columns*

#### *Code*

In [242]:
twitter_archive_clean['ratings'] = twitter_archive_clean['text'].str.extract('(\d+.*\/\d+?\s)')

In [243]:
numbers = twitter_archive_clean['ratings'].str.split("/", n=1, expand=True)

twitter_archive_clean['rating_numerator'] = numbers[0]
twitter_archive_clean['rating_denominator'] = numbers[1]

In [244]:
# Drop ratings column after extraction
twitter_archive_clean = twitter_archive_clean.drop(['ratings'], axis=1)

#### *Test*

In [245]:
twitter_archive_clean.head()

,tweet_id,timestamp,source,text,rating_numerator,rating_denominator,name,dog_stage,jpg_url,img_num,...,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,retweet_count,favorite_count,tweet_created
0,892420643555336193,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,13,10,Phineas,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,...,False,bagel,0.085851,False,banana,0.07611,False,8853,39467,2017-08-01 16:23:56+00:00
1,892177421306343426,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,13,10,Tilly,None,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,...,True,Pekinese,0.090647,True,papillon,0.068957,True,6514,33819,2017-08-01 00:17:27+00:00
2,891815181378084864,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,None,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,...,True,malamute,0.078253,True,kelpie,0.031379,True,4328,25461,2017-07-31 00:18:03+00:00
3,891689557279858688,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,13,10,Darla,None,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,...,False,Labrador_retriever,0.168086,True,spatula,0.040836,False,8964,42908,2017-07-30 15:58:51+00:00
4,891327558926688256,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,12,10,Franklin,None,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,...,True,English_springer,0.22577,True,German_short-haired_pointer,0.175219,True,9774,41048,2017-07-29 16:00:24+00:00

In [246]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1994 entries, 0 to 2072
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1994 non-null   object
 1   timestamp           1994 non-null   object
 2   source              1994 non-null   object
 3   text                1994 non-null   object
 4   rating_numerator    1889 non-null   object
 5   rating_denominator  1889 non-null   object
 6   name                1994 non-null   object
 7   dog_stage           389 non-null    object
 8   jpg_url             1994 non-null   object
 9   img_num             1994 non-null   object
 10  p1                  1994 non-null   object
 11  p1_conf             1994 non-null   object
 12  p1_dog              1994 non-null   object
 13  p2                  1994 non-null   object
 14  p2_conf             1994 non-null   object
 15  p2_dog              1994 non-null   object
 16  p3                  1994 non-null   object
 17  p3_conf             1994 non-null   object
 18  p3_dog              1994 non-null   object
 19  retweet_count       1994 non-null   object
 20  favorite_count      1994 non-null   object
 21  tweet_created       1994 non-null   object
dtypes: object(22)
memory usage: 358.3+ KB


#### Q6. Some records have no images 
#### *Define*
*Delete missing records with no images*

#### *Code*

In [247]:
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.jpg_url.notnull()]

#### *Test*

In [249]:
twitter_archive_clean.jpg_url.isnull().sum()

0

#### Q7. Some images of dogs are overlapped by objects.
#### *Define* 
*Remove images that is overlapped by objects. Use numpy.where statement to filter out images of dog from the dataframe*

#### *Code*

In [256]:
#df = df.replace({'True': True, 'False': False})

bool_value = {'True': True, 'False': False}

twitter_archive_clean['p1_dog'] = twitter_archive_clean['p1_dog'].replace(bool_value)
twitter_archive_clean['p2_dog'] = twitter_archive_clean['p2_dog'].replace(bool_value)
twitter_archive_clean['p3_dog'] = twitter_archive_clean['p3_dog'].replace(bool_value)

In [257]:
twitter_archive_clean.dtypes

tweet_id               object
timestamp              object
source                 object
text                   object
rating_numerator       object
rating_denominator     object
name                   object
dog_stage              object
jpg_url                object
img_num                object
p1                     object
p1_conf                object
p1_dog                float64
p2                     object
p2_conf                object
p2_dog                float64
p3                     object
p3_conf                object
p3_dog                float64
retweet_count          object
favorite_count         object
tweet_created          object
dtype: object

In [219]:
dog_images = np.where((twitter_archive_clean['p1_dog'] == True) & (twitter_archive_clean['p2_dog'] == True) & (twitter_archive_clean['p3_dog'] == True))

twitter_archive_clean = twitter_archive_clean.loc[dog_images]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Int64Index([  32,   67,   81,  109,  129,\n            ...\n             708,  727,  742, 1977, 1978],\n           dtype='int64', length=49). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

### *Test*

In [ ]:
# check if any images that is not a dog is present in the dataframe 
sum(twitter_archive_clean['p1_dog'] == False), sum(twitter_archive_clean['p2_dog'] == False), sum(twitter_archive_clean['p3_dog'] == False)

#### Q8. Multi name dog breed are separated with underscores and hyphens instead of spaces.
#### *Define*
*Replace multi name separator with space using the str.replace method*

#### *Code*

In [ ]:
twitter_archive_clean['p1'] = twitter_archive_clean['p1'].str.replace('_', ' ')
twitter_archive_clean['p1'] = twitter_archive_clean['p1'].str.replace('-', ' ')
twitter_archive_clean['p2'] = twitter_archive_clean['p2'].str.replace('_', ' ')
twitter_archive_clean['p2'] = twitter_archive_clean['p2'].str.replace('-', ' ')
twitter_archive_clean['p3'] = twitter_archive_clean['p3'].str.replace('_', ' ')
twitter_archive_clean['p3'] = twitter_archive_clean['p3'].str.replace('-', ' ')

#### *Test*

In [ ]:
image_clean.sample(10)

#### Q9. Non-uniform case in p names(some names begin with upper case others in lower case).
#### *Define*
*Convert names that begins with lowercase to uppercase*

#### *Code*

In [ ]:
image_clean['p1'] = image_clean['p1'].apply(lambda x: x.title())
image_clean['p2'] = image_clean['p2'].apply(lambda x: x.title())
image_clean['p3'] = image_clean['p3'].apply(lambda x: x.title())

#### *Test*

In [ ]:
sum(image_clean.p1.str.islower())

### *Save Data*